.imger{
    width: 100%;
    height: auto;
}
.cont{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.sectle{
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}
.sectle h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
    padding-top: 10px;
}
.sectle h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background-color: #50c5fc;
    bottom: -5px;

}
.container .sectle h1::before{
    left: 30%;
}
.row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}
.profile{
    margin-bottom:30px ;
}
.profile .profile-img{
    position: relative;
    font-size: 0;
    text-align: center;
}
.profile .profile-img img{
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.profile .profile-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f3f4fa;
    border-radius: 10px;
}
.profile .profile-content h2{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}
.profile .profile-content h3{
    font-size: 16px;
    font-weight: 300;
}
.profile .profile-content h4{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 0;
}
.profile .profile-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}